OPENAI_API_KEY = ""
PINECONE_API_KEY = "dc6ecd53-c755-402c-b416-617357e5826e"
PINECONE_ENVIRONMENT = "us-east-1"
PINECONE_INDEX_NAME = "hwhelper"
UPSTASH_URL = "https://electric-reptile-49642.upstash.io"
UPSTASH_TOKEN = "AcHqAAIncDE0YTk3OWZhMzhhOWI0ZTljOTFlODRjN2RmMjdhMTI2MXAxNDk2NDI"
REDIS_URL = "redis://default:4crnkgIpt4RRKXZ0nP2WBJp8LUnycrBz@redis-16879.c262.us-east-1-3.ec2.redns.redis-cloud.com:16879"